
body {
    margin-top: 70px;
    min-height: 100vh;
}
#body{
   min-height:100vh;
}

ul li {
    margin: 5px;
}

ul li a {
        color: white;
}
.Sticky {
    position: fixed;
    right: 0;
    top: 70px;
}
